*{
    margin: 0;
padding: 0;
}
.header{
    background-color: rgb(2, 1, 61);
    color: #fff;
}
.main-page{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 25vh;
    z-index: 99;
}

.main-page1{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 10vh;
    z-index: 99;
}

.main-page2{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 40vh;
    z-index: 99;
}
.formulaire{
    color: #fff;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, .54);
    font-size: 18px;
}

input{
    border-color: none;
}


input[type="email"], input[type="number"]{
border-width: 2px;
border-style: solid;
background-color: transparent;
background-color: transparent;
border-left-color: transparent;
border-right-color: transparent;
border-bottom-color: #fff;
border-top-color: transparent;
color: #fff;
}

input[type="email"]:focus, input[type="number"]:focus{
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    outline: none;
    }

.redressed{
    font-family: cursive;
}
.marriweather{
    font-family: serif;
}

.head{
    display: flex;
}

@media screen and (max-width:900px){

    .head{
        display: block;
    }
}